/* Add here all your CSS customizations */
#floatingBarsG{
	position:relative;
	width:34px;
	height:42px;
	margin:auto;
}

.blockG{
	position:absolute;
	background-color:rgb(255,255,255);
	width:5px;
	height:13px;
	border-radius:4px 4px 0 0;
		-o-border-radius:4px 4px 0 0;
		-ms-border-radius:4px 4px 0 0;
		-webkit-border-radius:4px 4px 0 0;
		-moz-border-radius:4px 4px 0 0;
	transform:scale(0.4);
		-o-transform:scale(0.4);
		-ms-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		-moz-transform:scale(0.4);
	animation-name:fadeG;
		-o-animation-name:fadeG;
		-ms-animation-name:fadeG;
		-webkit-animation-name:fadeG;
		-moz-animation-name:fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#rotateG_01{
	left:0;
	top:15px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
	transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
}

#rotateG_02{
	left:4px;
	top:5px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
	transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
}

#rotateG_03{
	left:14px;
	top:2px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
	transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
}

#rotateG_04{
	right:4px;
	top:5px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:15px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
	transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
}

#rotateG_06{
	right:4px;
	bottom:4px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
	transform:rotate(135deg);
		-o-transform:rotate(135deg);
		-ms-transform:rotate(135deg);
		-webkit-transform:rotate(135deg);
		-moz-transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:14px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
	transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
}

#rotateG_08{
	left:4px;
	bottom:4px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
	transform:rotate(-135deg);
		-o-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		-webkit-transform:rotate(-135deg);
		-moz-transform:rotate(-135deg);
}



@keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

#KT_tngdeverror, #KT_tngtrace, #sent, .sendsms {
	padding: 5px 10px 5px 5px;
	margin:5px;
	font-size: 13px;
	color: #FF0000;
	font-weight: bold;
}
#KT_tngtrace{ display:none;}
.KT_field_error,.form_validation_field_error_error_message {
	color: #fff;
	background: #FF0000;
	padding-left:2px;
	}
	
	.KT_note {
	padding: 5px 10px 5px 5px;
	color: #000;
	background: #FFFF00;
	padding-left:2px;
	font-size: 15px;
	
	}
	.note {
	color: #fff;
	background: #FFCC00;
	padding-left:2px;
	}
	.KT_field_hint {
	color:#CC0000;
	font-size: 10px;
	}
	#KT_tngerror{
		margin-bottom: 10px;
		color: #F90307;
	}
#KT_tngerror label {
	display: none;
}
.request-a-service h2 em {
	font-family: Shadows Into Light;
	font-size: 1.6em;
	color: #ff7b6b;
}

.startnow h2 em {
	font-family: Shadows Into Light;
	color: #ff7b6b;
	font-weight:900;
}

.modal .modal-content {
    background: #fff;
    color: #000;
}

.estimate-form .form-control {
    background: #ff4e38;
    color: #FFF;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #FFF;
    padding: 5px 15px;
    box-shadow: none;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
    font-size: .8em;
	width:100%;
}
.modal-content{
	padding:50px;	
}
.modal-header {
    padding: 1px;
	border:none;
}

.estimate-form h1 .value {
    font-size: 1.7em;
	color:#FFFFFF;
}
.estimate-form p {
	color:#FFFFFF;
	text-align:center;
	font-weight:700;
}
.estimate-form h1 {
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 15px 0px;
	color:#FFFFFF;
}
.counters .pitch {
    display: block;
    font-size: 35px;
    line-height: 50px;
}
.counters .fa, .counters .icons {
    display: block;
    font-size: 80px;
    line-height: 35px;
    margin-bottom: 5px;
}
.counters label {
    display: block;
    font-size: 16px;
    line-height: 20px;
}
.btn-clr-white {
    background: transparent;
    border: 2px solid #FFF;
    color: #FFF;
}#header .header-body {
    min-height: 65px;
}
#header .header-top {
    padding: 0px;
}
legend { padding-top: 30px;}
html .wizard-progress.wizard-progress-lg, html.dark .wizard-progress.wizard-progress-lg {
	margin-bottom: 00px;
}
#action { padding-top: 20px;}
.form-control .noborder{
    border: 0;
    border-color: #FFFFFF;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.noborder {
    border: 0;
    border-color: #FFFFFF;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.cart-submt-btn {
    margin: 25px 0 30px 0;
    background: #b4b4b4;
    border: 1px solid #adadad;
    color: #fff;
    color: #fff;
    font-size: 16px;
    outline: 0;
    height: 42px;
	width:100%;
    -webkit-box-shadow: 0 2px 4px 0 rgba(50,50,50,.25);
    -moz-box-shadow: 0 2px 4px 0 rgba(50,50,50,.25);
    box-shadow: 0 2px 4px 0 rgba(50,50,50,.25);
}
.cart-submt-btn span {
    padding-left: 23px;
    background: url("https://d1v4btv2rwszby.cloudfront.net/public/images/sprite-cart-2.png") no-repeat left -181px;
}
.cart-submt-btn b {
    float: none;
    color: #fff;
    font-size: 16px;
}
.shop table.cart img {
    height: auto;
    width: auto;
}
.green{
color:#009900;
}
.list.list-icons li {
    padding-left: 15px;
}
.capitalize {
	text-transform: uppercase;
}
.colored.btn {
    color: white;
    background-color: #ff4e38;
    border-color: "";
}
/***
Responsive Flip Scroll Tables
***/
.flip-scroll table {
  width: 100%;
}



[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:35px;
	left:0px;
	padding:5px 8px;
	background:#FFCC00;
	color:#fff;
	z-index:9;
	font-size: 14px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}
@media only screen and (max-width: 768px) {
  /* 768px */
  .flip-scroll .flip-content:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .flip-scroll * html .flip-content {
    zoom: 1;
  }

  .flip-scroll *:first-child + html .flip-content {
    zoom: 1;
  }

  .flip-scroll table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .flip-scroll th,
  .flip-scroll td {
    margin: 0;
    vertical-align: top;
  }

  .flip-scroll th {
    text-align: left;
    border: 0 !important;
    border-bottom: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    font-size: 13px !important;
    padding: 5px;
    width: auto !important;
  }

  .flip-scroll table {
    display: block;
    position: relative;
    width: 100%;
  }

  .flip-scroll thead {
    display: block;
    float: left;
  }

  .flip-scroll tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }

  .flip-scroll thead tr {
    display: block;
  }

  .flip-scroll th {
    display: block;
    text-align: right;
  }

  .flip-scroll tbody tr {
    display: inline-block;
    vertical-align: top;
    margin-left: -5px;
  }

  .flip-scroll td {
    display: block;
    min-height: 1.25em;
    text-align: left;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
	padding: 8px;
  }

  /* sort out borders */
  .flip-scroll th {
    border-bottom: 0;
    border-left: 0;
  }

  .flip-scroll td {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  .flip-scroll tbody tr {
    border-left: 1px solid #ddd;
  }

  .flip-scroll th:last-child,
  .flip-scroll td:last-child {
    border-bottom: 1px solid #ddd;
  }
  .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.72857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
}

.featured-boxes-full .featured-box-full .fa, .featured-boxes-full .featured-box-full .icons, .featured-boxes-full .featured-box-full h1, .featured-boxes-full .featured-box-full h2, .featured-boxes-full .featured-box-full h3, .featured-boxes-full .featured-box-full h4, .featured-boxes-full .featured-box-full h5, .featured-boxes-full .featured-box-full h6, .featured-boxes-full .featured-box-full p, .featured-boxes-full .featured-box-full a {
   padding: 0;
    margin: 0;
}

.featured-box-full h4 {
    color: #006600;
	font-weight:bold;	
}
.featured-box-full p {
    color: #777;
}

.no-borders {
    border: none !important;
   -webkit-box-shadow: inset 0 1px 1px rgba(251, 246, 246, 0.1);
    box-shadow: inset 0 1px 1px rgba(252, 247, 247, 0.1);
   -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
   padding: 6px 0px;
}

.form-horizontal .form-group {
    margin-right: 5px;
    margin-left: 5px;
}


.featured-box-full-content a:hover {
	text-decoration:none;
}

 .bottom-padding {
padding-bottom: 25px;

}
 #bottom-padding {
padding-bottom: 50px;
padding-top: 0px;
    background-color: #EFEFEF;

}
.featured-boxes-full .featured-box-full {
    background-color: #EFEFEF;
    text-align: center;
	padding-top: 50px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.featured-boxes-full col-md-3 {
padding: 5px;
background-color: #EFEFEF;
}

.featured-boxes-style-4 .box-content {
background-color:#FFF;
height: 300px;
}
.featured-box-full-content {
	background-color:#FFF;
	height: 300px;
	padding-left: 25px;
	padding-right: 25px;
}

.featured-box-full-content img {
 	margin-top: 30px;
}

#footer .footer-copyright {
margin-top: 0px;
}


.KT_note_red {
    padding: 5px 10px 5px 5px;
        padding-left: 5px;
    color: #FFFFFF;
    background: #FF0000;
    padding-left: 2px;
    font-size: 15px;
}

.KT_note_yellow {
    padding: 5px 10px 5px 5px;
        padding-left: 5px;
    color: #FFFFFF;
    background: #FF9900; 
    padding-left: 2px;
    font-size: 15px;
}

form label {
    font-weight: bold;
}

.whitebg {
    background: #FFF;
}

.margin-bottom-30 {
margin-bottom: 30px;
}

.hide {
  display: none; }
  
  #valid-msg, #email-valid-msg,#valid-msg1, #email-valid-msg1,#valid-msg2, #email-valid-msg2 {
     padding: 5px 10px 5px 10px;
    background: #669900;
    color: #FFFFFF;
    font-size: 15px;
 
  }
  
  #error-msg, #email-error-msg, #error-msg1, #email-error-msg1, #error-msg2, #email-error-msg2 {
     padding: 5px 10px 5px 5px;
    color: #FFFFFF;
    background: #FF0000;
    font-size: 15px;
 
  }

.viewtitle {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 22px;
    margin: 0 0 5px 0;
}
 
.progress-bar-primary {
	background-color: #CCC;
}

.progress-bar.progress-without-number[aria-valuenow="1"],
.progress-bar.progress-without-number[aria-valuenow="2"] {
	min-width: 0;
}

.progress-bar.progress-bar-primary[aria-valuenow="0"] {
	background: transparent;
}


/* Progress bar overwrite style */
.progress-bar {
	background: #CCC;
}

.progress .progress-bar {
	box-shadow: none;
	border-radius: 4px;
}

/* Progress bar default style */
.progress {
	background: #474453;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4) inset;
}

/* Progress bar light style */
.progress.light {
	background: #f6f7f8;
	background: -webkit-linear-gradient(#F6F7F8, #F6F7F8 10%, #f5f5f5 11%);
	background: linear-gradient(#F6F7F8, #F6F7F8 10%, #f5f5f5 11%);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

/* Progress bar roundness generic */
.progress-squared, .progress-squared .progress-bar {
	border-radius: 0 !important;
}

/* Progress bar sizes */
.progress-xs {
	height: 7px;
}

.progress-xs, .progress-xs .progress-bar {
	border-radius: 7px;
}

.progress-xs .progress-bar {
	direction: ltr !important;
	text-indent: -9999px;
}

.progress-xs.progress-half-rounded, .progress-xs.progress-half-rounded .progress-bar {
	border-radius: 2px;
}

.progress-xs.progress-striped .progress-bar {
	background-size: 15px 15px;
}

.progress-sm {
	border-radius: 12px;
	height: 12px;
}

.progress-sm, .progress-sm .progress-bar {
	border-radius: 12px;
}

.progress-sm .progress-bar {
	font-size: 10px;
	line-height: 12px;
}

.progress-sm.progress-half-rounded, .progress-sm.progress-half-rounded .progress-bar {
	border-radius: 4px;
}

.progress-sm.progress-striped .progress-bar {
	background-size: 20px 20px;
}

.progress-md {
	border-radius: 14px;
	height: 14px;
}

.progress-md, .progress-md .progress-bar {
	border-radius: 14px;
}

.progress-md .progress-bar {
	font-size: 11px;
	line-height: 14px;
}

.progress-md.progress-half-rounded, .progress-md.progress-half-rounded .progress-bar {
	border-radius: 4px;
}

.progress-md.progress-striped .progress-bar {
	background-size: 25px 25px;
}

.progress-lg {
	border-radius: 16px;
	height: 16px;
}

.progress-lg, .progress-lg .progress-bar {
	border-radius: 16px;
}

.progress-lg .progress-bar {
	line-height: 16px;
}

.progress-lg.progress-half-rounded, .progress-lg.progress-half-rounded .progress-bar {
	border-radius: 5px;
}

.progress-lg.progress-striped .progress-bar {
	background-size: 30px 30px;
}

.progress-xl {
	border-radius: 18px;
	height: 18px;
}

.progress-xl, .progress-xl .progress-bar {
	border-radius: 18px;
}

.progress-xl .progress-bar {
	line-height: 18px;
}

.progress-xl.progress-half-rounded, .progress-xl.progress-half-rounded .progress-bar {
	border-radius: 6px;
}

.progress-xl.progress-striped .progress-bar {
	background-size: 35px 35px;
}

/* Progress bar states */
.progress .progress-bar-primary {
	background-color: #CCC;
}

.progress .progress-bar-success {
	background-color: #47a447;
}

.progress .progress-bar-warning {
	background-color: #ed9c28;
}

.progress .progress-bar-danger {
	background-color: #d2322d;
}

.progress .progress-bar-info {
	background-color: #5bc0de;
}

.progress .progress-bar-dark {
	background-color: #171717;
}


/* Progress Bar */
.progress-bar {
	background-color: #0088cc;
}

.progress .progress-bar-primary {
	background-color: #0088cc;
}
/* Toggle */


/***
Custom tables
***/